<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<title>tous les films</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Page d'accueil</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">

        
          <a class="nav-link" href="#" onclick="decon();return false;"><%if (userdecon) {%>Connexion/inscription<%}else{%>Déconnexion<%};%></span></a>
          
          

      </li>

    </ul>
  </div>
</nav>
<main>
<h1>Tous les films</h1>
<section class="actor-film-director-title-dl">
        <form method="post" id="telechargertitre" action="/download" class="barre-recherche form-inline my-2 my-lg-0" onsubmit="return false;">
        <label for="titre">Search for a Movie Title, Actor Name, Director Name :</label>
        <input type="search" class="titre-film form-control mr-sm-2" name="query_term" id="titre-film" value=""  placeholder="Search" aria-label="Search">
        <input type="submit" value="envoyer"/>
</form>

</section>
<section class="movie-genre-dl">
        <form method="post" action="/download" class="barre-recherche form-inline my-2 my-lg-0" id="telechargergenre" onsubmit="return false;">
    <label for="genre">Choose a movie genre:</label>

<select name="genre" id="genre-film">
    <option value="">--Please choose a movie genre--</option>
    <option value="comedy">Comedy</option>
    <option value="horror">Horror</option>
    <option value="romance">Romance</option>
    <option value="thriller">Thriller</option>
    <option value="drama">Drama</option>
    <option value="sf">SF</option>
    <option value="mystery">Mystery</option>
    <option value="crime">Crime</option>
    <option value="animation">Animation</option>
    <option value="adventure">Adventure</option>
    <option value="fantasy">Fantasy</option>
    <option value="superhero">Superhero</option>

</select>
        <input type="submit" value="envoyer"/>

        </form>
</section>

</main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/javascript/telecharger.js"></script>
<script>

</script>

</body>
</html>
